<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpoluVon.sk</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>  <!-- For proper MaterialUI scaling -->

</head>
<body>
    <div id="app">
        <!-- React will load here -->
    </div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" />
</html>